<!doctype html>
<html>
  <head>
      <style>
          .file {
              visibility: hidden;
              position: absolute;
            }
          a {
                color: hotpink;
            }
      </style>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Object Detection API</title>
      <link rel="stylesheet" href="static/css/bootstrap.min.css" >
    <link rel='shortcut icon' href='favicon.ico'/>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>

    <script language="javascript" type="text/javascript">
      function ChangePhoto(name, img) {
        img = typeof img !== 'undefined' ? img : "{{ result['orig




        inal'] }}";
        target = document.getElementById("label");
        target.innerHTML = name;
        target = document.getElementById("photo");
        target.src = img;
      }

      function WaitDisplay() {
        target = document.getElementById("result");
        target.style.display="none";
        target = document.getElementById("loading");
        target.style.display="";
        setTimeout(function() {
          document.getElementById("upload").submit();}, 100);
        }
    </script>
  </head>
  <body>

    {% from "_formhelpers.html" import render_field %}


    <div class="container">

    <h1>Continuum</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>The maximum file size for uploads in this demo is <strong>999 KB</strong></li>
                <li>Image files (<strong>JPG, GIF, PNG</strong>) are allowed </li>
                <li>Video files (<strong>mp4, vlc, ogg</strong>) are allowed </li>
            </ul>
        </div>
    </div>
        <div class="form-group">
          <form  class="btn btn-primary" id="upload" method=post action={{ url_for('post') }} enctype="multipart/form-data">
            {{ render_field(photo_form.input_photo) }}
            <input type="button" onclick="WaitDisplay();" value="Upload" class="browse btn btn-info">
          </form>
        </div>
         <div id="result">
          {% if result|length > 0 %}
            <div id="label">original</div>
            <div><img id="photo" class="img-rounded"  width="400" height="300" src="{{ result['original'] }}" align="left" hspace="10" vspace="10"></div>
            <p>
              <a class="btn btn-primary" href="javascript:void(0);" onclick="ChangePhoto('original');">Back to the Original View</a>
              </br>
              {% for name, img in result.iteritems() %}
                {% if name != 'original' %}
                  <a class="btn btn-info" href="javascript:void(0);"
                     onclick="ChangePhoto('{{ name }}', '{{ result[ name ] }}');">{{ name }}</a>
                  </br>
                {% endif %}
              {% endfor %}
            </p>
          {% endif %}
        </div>
         <div id="loading" style="display:none">
          <h2>Detecting Objects...</h2>
        </div>
    </div>
  </body>
</html>
